{
    "wsport":9002,
    "redis_host":"192.168.206.129",
    "redis_port":6379,
    "redisclient_ttl":60,
    "chat_pollingtime":50,
    "redis_clients_key_prefix":"twistedchatclients",
    "redis_channel_messages":"twistedchatmessages"
}
